<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Enter Data</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <form [formGroup]="profileForm" (ngSubmit)="add()">
          <ion-item>
            <ion-input
              autogrow
              autofocus
              ngDefaultControl
              placeholder="1,2,3..."
              formControlName="csvDataModel"
            ></ion-input>
          </ion-item>
          <p *ngIf="profileForm.get('csvDataModel').hasError('not_a_number')">Not an number</p>
          <ion-button type="submit" [disabled]="!profileForm.valid">Add</ion-button>
        </form>
    </ion-card-content>
  </ion-card>
</ion-content>