<ion-app>
  <!-- <ion-split-pane when="sm"> -->
    <ion-menu side="start" type = "push" content-id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Graphy</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-graphy-form></app-graphy-form>
      </ion-content>
    </ion-menu>

    <!-- <ion-router-outlet id="main"> -->
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Binary Sorted Trees</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-graphy-graph></app-graphy-graph>
      </ion-content>
      <!-- <ion-footer>
        <ion-toolbar>
          <ion-title>Buy me a coffee</ion-title>
        </ion-toolbar>
      </ion-footer> -->
    </div>
  <!-- </ion-router-outlet> -->
  <!-- </ion-split-pane> -->
</ion-app>