<ion-app>
  <ion-split-pane when="sm">
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Graphy</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-graphy-form></app-graphy-form>
      </ion-content>
    </ion-menu>

    <div class="ion-page" main>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>Binary Sorted Trees</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="">
        <app-graphy-graph></app-graphy-graph>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-title>Footer</ion-title>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-split-pane>
</ion-app>